<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {titulo: "Colegio Jorge Newbery", estilo:
  "style.css"})%>
  <body class="body-index">
    <%- include('../partials/nav.ejs') %>
    <main class="main-alumno">
      <div class="contenedor">
        <div class="card-nombre">
          <h2> <%= datosAlumno.apellido %>,<%= datosAlumno.nombre %></h2>
          <button type="button">cerrar sesion</button>
        </div>
        <div class="card-detalles">
          <h4>Detalle Alumno</h4>
          <h6>DNI: <%= datosAlumno.dni %></h6>
          <h6>Fecha de nacimiento: <%= datosAlumno.fechaNacimiento %></h6>
          <h6>Dirección: <%= datosAlumno.direccion %></h6>
          <h6>Teléfono: <%= datosAlumno.telefono %></h6>
          <h6>Email: <%= datosAlumno.email %></h6>
          <h6>Curso: <%= datosAlumno.curso %></h6>
          <h6>Año:</h6>
        </div>
        <div class="card-reportes">
          <h4>Reportes</h4>
          <h6>Fecha registro: <%= datosAlumno.fechaRegistro %></h6>
        </div>
      </div>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>
