<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {titulo: "Colegio Jorge Newbery", estilo:
  "style.css"})%>
  <body class="body-index">
    <%- include('../partials/nav.ejs') %>
    <main class="main-login">
      <div class="box-form">
      
        <form
          method="post"
          action="/usuario/login"
          class="login-form"
          id="formulario"
          novalidate
         
        >
          <img src="/images/logoalt.png" alt="" />
          <div class="input-login-1">
            <label for="username">Usuario </label>
            <input
              type="text"
              id="username"
              name="username"
              required
              placeholder="Ingrese usuario"
              value="<%= locals.old && old.username ? old.username:'' %>"
            />
            <% if (locals.errors && errors.username) { %>
              <p class="errors"> <%= errors.username.msg %></p>
             
            <% } %>
          </div>
          <div class="input-login-2">
            <label for="password">Contrase単a </label>
            <input
              type="password"
              id="password"
              name="password"
              required
              placeholder="Ingrese contrase単a"
            />
            <% if (locals.errors && errors.password) { %>
              <p class="errors"> <%= errors.password.msg %></p>
             
            <% } %>
          </div>
          <button class="button-login" type="submit">Iniciar sesion</button>
          <div class="inicioSesion">
            <div class="input-login-3">
              <input type="checkbox" id="recordarme" name="recordarme" />
              <label for="recordarme">Recordar usuario</label>
            </div>
            <a href="http://">多Olvidaste tu contrase単a?</a>
          </div>
        </form>
      </div>
    </main>

    <%- include('../partials/footer.ejs')%>

    <!-- <script src="/js/scriptLogin.js"></script> -->
  </body>
</html>
