<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs', {titulo: "Colegio Jorge Newbery", estilo: "style.css"})%>
  <body class="body-index">
    <%- include('../partials/nav.ejs') %>
    <main class="main-noticia">
      <div class="container-noticia">
        <article class="box-noticia-indiv">
          <h1 class="titulo-noticia-indiv"><%= publicacion.titulo %></h1>
          <p class="fecha-noticia-indiv"><%= new Date(publicacion.fechaPublicacion).toLocaleDateString() %></p>
          <div class="img-wrapper">
            <img class="img-principal" src="/uploads/<%= publicacion.imagen %>" alt="" />
          </div>
          <p><%= publicacion.contenido %></p>
        </article>
        <section class="box-comentario">
          <h2>Comentarios</h2>
          <hr />
          <form action="/publicacion/comentar/<%= publicacion.idPublicacion %>" method="POST">
            <textarea
              name="comentario"
              placeholder="Escribe tu comentario..."
              required
            ></textarea>
            <% if (usuarioLogueado) { %>
              <button type="submit">Publicar</button>
            <% } else { %>
              <button type="button" onclick="window.location.href='/usuario/login'">Inicia sesión para comentar</button>
            <% } %>
          </form>
          <% if (publicacion.comentarios && publicacion.comentarios.length > 0) { %>
            <% publicacion.comentarios.forEach(comentario => { %>
              <div class="comentario">
                <div class="comentario-nombre-fecha">
                  <p class="comentario-nombre">
                    <% if (comentario.usuario.alumno) { %>
                      <%= comentario.usuario.alumno.nombre %> <%= comentario.usuario.alumno.apellido %>
                    <% } else if (comentario.usuario.docente) { %>
                      <%= comentario.usuario.docente.nombre %> <%= comentario.usuario.docente.apellido %>
                    <% } %>
                  </p>
                  <p class="comentario-fecha"><%= new Date(comentario.fechaComentario).toLocaleDateString() %></p>
                </div>
                <p class="comentario-texto">
                  <%= comentario.comentario %>
                </p>
              </div>
            <% }) %>
          <% } else { %>
            <p>No hay comentarios aún.</p>
          <% } %>
        </section>
      </div>
    </main>
    <%- include('../partials/footer.ejs')%>
  </body>
</html>