<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs', {titulo: "Colegio Jorge Newbery", estilo: "style.css"})%>
  <body class="body-index">
    <%- include('partials/nav.ejs') %>
    <main class="main-index">
      <div class="container-index">
        <div class="titulo-tablon">
          <h1><a href="/">Novedades</a></h1>
          <div class="container-btns">
            <% categorias.forEach(categoria => { %>
              <a href="/categoria/<%= categoria.idCategoria %>">
                <button class="categ-btn"><%= categoria.nombre %></button>
              </a>
            <% }) %>
          </div>
        </div>
        <section class="container-tablon">
          <% if (publicacionFijada) { %>
          <article class="box-noticia-fija">
            <img src="/uploads/<%= publicacionFijada.imagen %>" alt="" />
            <div class="text-container">
              <h2 class="titulo-noticia-fijada"><%= publicacionFijada.titulo %></h2>
              <p class="fecha-noticia"><%= new Date(publicacionFijada.fechaPublicacion).toLocaleDateString() %></p>
              <p class="descrip-noticia-fijada"><%= publicacionFijada.contenido %></p>
              <a href="/publicacion/<%= publicacionFijada.idPublicacion %>">Seguir leyendo <i class="fas fa-arrow-right"></i></a>
            </div>
          </article>
          <% } %>
          <% if (!publicacionFijada && publicaciones.length === 0) { %>
          <p>No hay publicaciones disponibles.</p>
          <% } else { %>
          <% publicaciones.forEach(publicacion => { %>
          <article class="box-noticia">
            <img src="/uploads/<%= publicacion.imagen %>" alt="" />
            <div class="text-container">
              <h3 class="titulo-noticia"><%= publicacion.titulo %></h3>
              <p class="fecha-noticia"><%= new Date(publicacion.fechaPublicacion).toLocaleDateString() %></p>
              <p class="descrip-noticia"><%= publicacion.contenido %></p>
              <a href="/publicacion/<%= publicacion.idPublicacion %>">Seguir leyendo <i class="fas fa-arrow-right"></i></a>
            </div>
          </article>
          <% }) %>
          <% } %>
        </section>
      </div>
    </main>
    <%- include('partials/footer.ejs')%>
    <script src="/js/scriptNoticia.js"></script>
  </body>
</html>