<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head.ejs', {titulo: "Colegio Jorge Newbery", estilo:
  "style.css"})%>
  <body class="body-index">
    <%- include('../../partials/nav.ejs') %>
    <main class="main-admin">
      <div class="contenedor">
        <div class="card-nombre">
          <h2> <%= datosAdmin.apellido %>,<%= datosAdmin.nombre %> </h2>
          <form action="/usuario/logout" method="post">
          <button  type="submit">cerrar sesion</button>
        </form>
        </div>
        <div class="card-detalles">
          <h4>Detalle Docente</h4>
          <h6>DNI: <%= datosAdmin.dni %></h6>
          <h6>Teléfono:<%= datosAdmin.telefono %></h6>
          <h6>Email:<%= datosAdmin.email %></h6>
          <h6>Año:<%= currentYear %></h6>
        </div>
        <div class="card-reportes">
          <!-- Usar rutas absolutas para evitar duplicaciones -->
          <form action="/usuario/perfil/publicacion" method="post">
            <a href="/usuario/perfil/publicacion"><h4>Publicaciones</h4></a>
          </form>
          <form action="/usuario/perfil/registro-usuario" method="post">
            <a href="/usuario/perfil/registro-usuario"><h4>Usuarios</h4></a>
          </form>
          <h6>Fecha registro:</h6>
        </div>
      </div>
    </main>
    <%- include('../../partials/footer.ejs')%>
    
  </body>
</html>

